# Gateway API
DEVICE_DATA_URL=http://your-gateway-ip:8888/235/hmi/get/device/data
ECO_STATUS_URL=http://your-gateway-ip:8888/235/hmi/set/device/schedule/ECO_Status

# MQTT Broker
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_TOPIC=device/setting/global