############################
# Python
############################

__pycache__/
*.py[cod]
*.pyo
*.pyd

############################
# Virtual environment
############################

venv/
.venv/
env/
.env

############################
# Runtime data
############################

data/events/*
data/payload/*

############################
# Logs
############################

logs/*
*.log

############################
# OS
############################

.DS_Store
Thumbs.db

############################
# IDE
############################

.vscode/
.idea/

############################
# Temporary / local scripts
############################

tests/